html {
  background-color: #1B1464;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-title {
  display: flex;
  flex: 1;
  min-block-size: 20vh;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ecf0f1;
  font-size: 2rem;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #12CBC4;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 15%;
  text-align: center;
  color: #ecf0f1;
  background: #006266;
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #f1c40f;
  box-shadow: 0 0 1rem #f1c40f;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #FFC312;
}